:root {
    --nav-height: 0;
    --footer-height: 0;
    --primary-color: #212529;
    --text-color: white;
}

/* Temas */
.customizable-theme {
    background-color: var(--primary-color);
    color: var(--text-color);
    fill: var(--primary-color);
}

#themesContainer svg {
    height: 40px;
    width: 40px;
}

/* Botones */
.closeButton {
    top: 5px;
    right: 5px;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

.form-control:focus {
    border-color:var(--primary-color);
    box-shadow: none;
}

/* Notificaciones */
#editNotification {
    display: none;
    z-index: 1000;
}

#editNotification div {
    background-color: #90EE90;
}

/* Nav */

#settingsButtonImg {
    width: 20px;
}

/* Tabla de productos */

.deleteButtonImg {
    width: 20px;
}

.deleteCell {
    width: 5%;
}

.amountCell {
    width: 10%;
}

.priceCell {
    width: 10%;
    max-width: 10%;
}

.categoryCell {
    width: 20%;
}

input[readonly] {
    border-style: none;
}

tbody input:focus {
    outline-color:var(--primary-color);
    border-style: none;
}

/* Formulario de nuevo producto */

#newProductForm {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
}

.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Estructura principal */

main {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
}

.offcanvas-header {
    height: var(--nav-height);
}